<h1>Hey Logged in User</h1>
<% if(message.length > 0) { %>
  <h2>FLASH FOUND</h2>
  <div class="alert alert-danger">
  <%= message %>
  </div>
<% } %>

Hey {{main_var['user']}}!
<br>
<br>
You're looking at the restaurants visited by <b>{{main_var['location']}}</b>!
<br> <br>
%for item in main_var['stat_rows']:
<i>{{item}}</i> <br>
%end

<br>
<a href="/addreview">Add a restuarant review :D</a>
<br>
<a href="/view">Browse the restaurants your friends have gone to</a>
<br>
<br>
<a href="/settings">My Settings Page</a>
<br>
<br>
<a href="/logout">Logout</a>
