Reviews so far:
<br>
<br>
  %for review in reviews:
    {{!review.to_html()}}
  <br>
  <br>
  %end

<br>
<a href="/addreview">Add your own review!</a>
<br>
<a href="/profile">Go back to main page</a>
